.Clear{
  position: absolute;
  top: 500px;
  background-color: red;
  color: white;
}
.Background{
  position: absolute;
  top: 500px;
  left: 3%;
  background-color: red;
  color: white;
}
.hidden {
  display: none;
}
