.Clear{
  position: absolute;
  right: 0.05%;
 bottom:  0.5%;
  background-color: red;
  color: white;
}
/*.background{
  position: absolute;
  top: 500px;
  left: 3%;
  background-color: red;
  color: white;
}*/
.hidden {
  display: none;
}
aside{
  flex-direction: column;
  position: absolute;
  right: 0px;
  width: 7%;
  height: 10%;
}
body{
  /*background-color: #262626;*/
  background-color:   #1a1a1a;

}
.brushIcon{
  border-style: solid;
  border-width: 10px;
  border-color: white;
}
